@use "../../../styles/variables" as *;
@use "../../../styles/mixins/header-footer-mixin" as *;
@use "../../../styles/mixins/desktop-mobile-media-mixin" as *;

header {
  @include header-footer-mixin();

  transition: transform 0.5s ease;

  &.hidden {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }

  .title {
    display: inherit;
    padding-left: $spacing-md;

    &__img {
      display: inherit;
      align-self: center;
      height: 3rem;
      width: auto;
    }

    &__link {
      display: inherit;
      gap: $spacing-md;
      justify-content: flex-start;
      text-decoration: none;
    }

    &__text {
      display: inherit;
      align-self: center;
      margin: 0;
      color: var(--app-text-color);
    }

    &:hover .title__text {
      color: var(--app-text-color-dark);
    }

    &:active .title__text {
      color: var(--app-text-color);
    }
  }

  .nav {
    display: inherit;
    justify-content: space-around;
    align-items: inherit;
    height: 100%;
    width: 40%;

    &__link {
      display: inherit;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: var(--app-text-color);
      height: 100%;
      width: 100%;
      font-size: $font-size-md;
    }

    &__link:hover {
      background-color: var(--app-background-color-light);
    }
    &__link:active {
      background-color: var(--app-background-color-dark);
    }
  }

  @include desktop-mobile-media-mixin {
    .nav {
      display: none;
    }
  }

  .sidebar-button {
    display: none;
    background-color: transparent;
    border: none;
    padding-inline: $spacing-xl;

    @include desktop-mobile-media-mixin {
      display: inline-block;
    }
  }
}
