@use "../../../styles/variables" as *;
@use "../../../styles/mixins/header-footer-mixin" as *;

footer {
  @include header-footer-mixin(bottom, none, center, auto);
  flex-direction: column;

  .description {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: $spacing-md;
    gap: $spacing-md;

    .about {
      display: inherit;
      padding: $spacing-md;
      flex-direction: column;
      width: 25%;
      align-items: flex-start;
      justify-content: space-evenly;
      background: var(--app-background-color-dark);
      border-radius: $spacing-md;

      &__title {
        font-size: $font-size-lg;
        margin: 0;
        font-weight: bold;
      }

      &__link {
        color: var(--app-text-color);
        font-size: $font-size-xl;
        font-weight: bold;
      }

      &__link:hover {
        color: var(--app-text-color-dark);
      }

      &__link:active {
        color: var(--app-text-color);
      }
    }

    .credit {
      padding: $spacing-md;
      border-radius: $spacing-md;
      display: inherit;
      width: 75%;
      flex-direction: column;

      align-items: flex-start;
      background: var(--app-background-color-dark);
      gap: $spacing-md;
      font-size: $font-size-sm;

      &__logo {
        margin-top: $spacing-xs;
        height: 1rem;
        width: auto;
      }
    }
  }
}
