@use "../../../styles/variables.scss" as *;

.demo {
  margin-top: $spacing-md;
  padding-block: $spacing-xxl;
  display: flex;
  justify-content: center;
  margin-inline: $spacing-xl;

  .viewport {
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    display: inherit;
    flex-direction: column;
    gap: $spacing-xl;
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );

    .track-movie {
      display: flex;
      width: max-content;
      animation: marquee-movie 60s linear infinite;

      .img {
        width: 100px;
        height: 150px;
        margin-inline: 0.5rem;
        object-fit: cover;
        flex-shrink: 0;
        border-radius: $radius-sm;
      }
    }

    .track-series {
      display: flex;
      width: max-content;
      animation: marquee-series 55s linear infinite;
      margin-left: -4rem;

      .img {
        width: 100px;
        height: 150px;
        margin-inline: 0.5rem;
        object-fit: cover;
        flex-shrink: 0;
        border-radius: $radius-sm;
      }
    }
  }
}

@keyframes marquee-movie {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-series {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
