<div class="skeleton-quest">
  <div class="skeleton-quest__left">
    <p-skeleton height="1.5rem" width="40%"></p-skeleton>
    <p-skeleton height="1rem" width="60%"></p-skeleton>
    <p-skeleton height="0.5rem" width="100%"></p-skeleton>
  </div>
  <div class="skeleton-quest__right">
    <p-skeleton height="1rem" width="6rem"></p-skeleton>
    <p-skeleton shape="circle" height="2rem" width="2rem"></p-skeleton>
    <p-skeleton shape="circle" height="2rem" width="2rem"></p-skeleton>
  </div>
</div>
