@use "../variables" as *;

@mixin card-scrollable-list-mixin {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15rem;
  grid-template-rows: auto auto;
  border-radius: $radius-sm;
  background: var(--details-page-items-background);
  padding: $spacing-md;
  column-gap: $spacing-md;

  overflow-x: auto;
  overflow-y: hidden;

  scrollbar-width: thin;
  scrollbar-color: #888 rgba(0, 0, 0, 0);
}
