@use "../variables" as *;

@mixin header-footer-mixin(
  $position: top,
  $position-value: fixed,
  $justify-content-value: space-between,
  $height-value: 4rem
) {
  position: $position-value;
  @if $position == top {
    top: 0;
  } @else if ($position == bottom) {
    bottom: 0;
  }
  left: 0;
  width: 100%;
  height: $height-value;
  display: flex;
  align-items: center;
  justify-content: $justify-content-value;
  z-index: 1000;

  border: 1px solid var(--app-background-color-lighter);
  background: var(--app-background-color);
}
