@use "../../../styles/variables" as *;
@use "../../../styles/mixins/desktop-mobile-media-mixin" as *;
@use "../../../styles/mixins/content-details-galleria-media-mixin" as *;

.backdrops {
  margin-inline: 5rem;
  background: var(--details-page-items-background);
  border-radius: $radius-sm;
  max-height: 3rem;
  overflow: hidden;
  transition: max-height 0.4s ease;

  &__btn {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    text-align: start;
    font-size: $font-size-lg;
    font-weight: bold;
    color: var(--app-text-color);
    padding-inline: $spacing-md;
  }

  &__btn:hover {
    background: var(--details-page-items-active);
  }

  &__active {
    padding: 2rem 20rem;
    background: var(--details-page-items-background);

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      border-radius: $radius-sm;
    }

    a {
      cursor: alias;

      &:hover {
        filter: brightness(1.2);
      }
    }

    &:hover {
      transition: ease-in-out 0.1s;
    }
  }

  &__thumbnails {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    width: inherit;
    gap: $spacing-md;
    padding: $spacing-md;
    border-radius: 0 0$radius-sm $radius-sm;
    scrollbar-width: thin;
    scrollbar-color: #888 rgba(0, 0, 0, 0);
  }

  &__thumbnails img {
    flex: 0 0 auto;
    max-width: 20rem;
    height: auto;
    border-radius: $radius-sm;
    cursor: pointer;
  }

  &__thumbnails img:hover {
    transform: scale(1.02);
    transition: ease-in-out 0.1s;
  }

  &__no-backdrops {
    font-size: $font-size-md;
    margin-block: $spacing-xxl;
    text-align: center;
  }

  &.open {
    max-height: 300vh;
  }

  @include content-details-galleria-media-mixin {
    &__active {
      padding-inline: 10rem;
    }

    &__thumbnails img {
      max-width: 15rem;
    }
  }

  @include desktop-mobile-media-mixin {
    font-size: $font-size-sm;

    margin-inline: 0;
    border-radius: 0;

    &__active {
      padding: 0;

      img {
        border-radius: 0;
      }
    }

    &__thumbnails img {
      max-width: none;
      width: clamp(10rem, 30%, 20rem);
    }
  }
}
