# --- App ---
PORT=3000
NODE_ENV=development # change to "test" when running load-test.js with k6

# --- TMDB ---
TMDB_API_KEY=your_tmdb_api_key_here

# --- Database (PostgreSQL) ---
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_HOST=localhost
DB_PORT=5432

# Optional: full connection string (can override above)
DATABASE_URL=postgresql://your_db_user:your_db_password@localhost:5432/your_db_name

# --- JWT ---
JWT_ACCESS_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret

# examples: 15m, 1h, 7d
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# --- Admin ---
ADMIN_EMAIL=admin@example.com

# --- Backend Wallet ---
BACKEND_WALLET_ADDRESS=manually_generated_backend_wallet_address_by_blockchain_script
BACKEND_WALLET_PRIVATE_KEY=manually_generated_backend_wallet_private_key_by_blockchain_script

# --- Blockchain (Local Hardhat, localhost) ---
RPC_URL=http://localhost:8545 
TOKEN_CONTRACT_ADDRESS=0xyour_hardhat_localhost_token_contract_address 
MARKETPLACE_CONTRACT_ADDRESS=0xyour_hardhat_localhost_marketplace_contract_address 

# --- Blockchain (Sepolia example) ---
# RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID / https://ethereum-sepolia-rpc.publicnode.com 
# TOKEN_CONTRACT_ADDRESS=0xyour_sepolia_token_contract_address 
# MARKETPLACE_CONTRACT_ADDRESS=0xyour_sepolia_marketplace_contract_address 
