<div class="skeleton-desktop">
  <p-skeleton
    class="skeleton-desktop__img"
    shape="rectangle"
    width="100%"
    height="15rem"
  ></p-skeleton>
  <p-skeleton shape="rectangle" width="80%" height="1rem"></p-skeleton>
  <p-skeleton shape="rectangle" width="60%" height="1rem"></p-skeleton>
  <div class="skeleton-desktop__rating">
    <p-skeleton shape="circle" width="3rem" height="3rem"></p-skeleton>
  </div>
</div>

<div class="skeleton-mobile">
  <p-skeleton shape="rectangle" width="6.25rem" height="6.25rem" />

  <div class="skeleton-mobile__info">
    <p-skeleton width="80%" height="1rem" />
    <p-skeleton width="60%" height="0.8rem" />
  </div>

  <p-skeleton shape="circle" width="2.5rem" height="2.5rem" />
</div>
