@use "../../../styles/variables" as *;
@use "../../../styles/mixins/discover-page-list-media-mixin" as *;

:host {
  display: contents;
}

.card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  background: var(--app-background-color);
  border-radius: $radius-sm;
  cursor: pointer;
  gap: 0;
  user-select: none;

  &__img {
    display: inline-block;
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: auto;
    border-radius: $radius-sm;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 $spacing-md $spacing-sm $spacing-md;

    .title,
    .date,
    .rating {
      margin: 0;
    }

    .title {
      overflow-wrap: break-word;
      word-break: break-word;
      min-width: 0;
    }

    .date {
      font-size: $font-size-sm;
      color: var(--app-text-color-dark);
    }

    .rating {
      align-self: flex-end;
    }
  }
}

:host[discover] .card {
  @include discover-page-list-media-mixin {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__img {
      width: 30%;
      height: 8rem;
      object-fit: cover;
      margin: $spacing-sm 0 $spacing-sm $spacing-sm;
      border-radius: $radius-sm;
    }

    &__info {
      width: 70%;
      justify-content: space-around;
      padding: 0 $spacing-md;
    }
  }
}
