@use "../../../styles/variables" as *;
@use "../../../styles/mixins/header-footer-mixin" as *;

footer {
  @include header-footer-mixin(bottom);

  .nav {
    display: inherit;
    justify-content: space-around;
    align-items: inherit;
    height: 100%;
    width: 100%;

    &__link {
      display: inherit;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: var(--app-text-color);
      height: 100%;
      width: 100%;
      font-size: $font-size-md;
    }

    &__link:hover {
      background-color: var(--app-background-color-lighter);
    }
    &__link:active {
      background-color: var(--app-background-color-light);
    }
  }
}
