@use "../styles/mixins/desktop-mobile-media-mixin" as *;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  app-footer-mobile {
    display: none;
  }

  @include desktop-mobile-media-mixin {
    app-footer-desktop {
      display: none;
    }

    app-footer-mobile {
      display: inherit;
    }
  }
}

.main-content {
  margin-top: 4rem;
  flex-grow: 1;

  @include desktop-mobile-media-mixin {
    margin-bottom: 4rem;
  }
}
