@use "../../../styles/variables" as *;
@use "../../../styles/mixins/desktop-mobile-media-mixin" as *;

.home {
  margin-inline: $spacing-xxl;

  @include desktop-mobile-media-mixin {
    margin-inline: $spacing-lg;
  }

  .movie-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15rem;
    grid-template-rows: auto auto auto;
    border-radius: $radius-sm;
    background: rgba(0, 0, 0, 0.1);
    padding: $spacing-md;
    column-gap: $spacing-md;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: thin;
    scrollbar-color: #888 rgba(0, 0, 0, 0);

    @include desktop-mobile-media-mixin {
      grid-auto-columns: 12rem;
    }
  }

  #p-1 {
    color: var(--app-text-color);
  }
  #p-2 {
    color: var(--app-text-color-dark);
  }
  #p-3 {
    color: var(--app-text-color-darker);
  }
  #p-4 {
    color: var(--app-primary-color-dark);
  }
  #p-5 {
    color: var(--app-primary-color);
  }
  #p-6 {
    color: var(--app-primary-color-light);
  }
  #p-7 {
    color: var(--app-primary-color-lighter);
  }
}
