@use "../../../styles/variables" as *;
@use "../../../styles/mixins/desktop-mobile-media-mixin" as *;
@use "../../../styles/mixins/card-scrollable-list-mixin" as *;

.home {
  margin-inline: $spacing-xxl;

  @include desktop-mobile-media-mixin {
    margin-inline: $spacing-lg;
  }

  #intro {
    margin: $spacing-xxl 0;
    padding: $spacing-xl;
    text-align: center;
    border-radius: $radius-lg;
    border: 1px solid var(--border-color);

    background: var(--app-background-color);

    h1 {
      font-size: $font-size-xxl;
      margin-bottom: $spacing-md;
    }

    p {
      font-size: $font-size-lg;
    }

    @include desktop-mobile-media-mixin {
      padding: $spacing-sm;
      margin-inline: calc(#{$spacing-lg} * -1);
      border-radius: 0;

      h1 {
        font-size: $font-size-xl;
      }

      p {
        font-size: $font-size-md;
      }
    }
  }

  .title {
    margin: $spacing-xxl 0 $spacing-sm 0;
    font-size: $font-size-xl;

    @include desktop-mobile-media-mixin {
      font-size: $font-size-lg;
    }
  }

  .list {
    @include card-scrollable-list-mixin();

    @include desktop-mobile-media-mixin {
      grid-auto-columns: 12rem;
    }
  }

  .section-divider {
    height: 10rem;
    margin: $spacing-xxl 0;
    border-radius: $radius-lg;
    background: var(--app-background-color);
    border: 1px solid var(--border-color);

    @include desktop-mobile-media-mixin {
      border-radius: 0;
      margin-inline: calc(#{$spacing-lg} * -1);
    }
  }

  .list.skeleton {
    grid-template-rows: auto;
  }

  #p-1 {
    color: var(--app-text-color);
  }
  #p-2 {
    color: var(--app-text-color-dark);
  }
  #p-3 {
    color: var(--app-text-color-darker);
  }
  #p-4 {
    color: var(--app-primary-color-dark);
  }
  #p-5 {
    color: var(--app-primary-color);
  }
  #p-6 {
    color: var(--app-primary-color-light);
  }
  #p-7 {
    color: var(--app-primary-color-lighter);
  }
}
