<div class="home">
  <div id="intro">
    <h1>Discover and track your favorite media on MediaVerse</h1>
    <p>Your gateway to endless entertainment.</p>
  </div>

  <h1 class="title">Popular Movies</h1>
  @if (popularMovies$ | async; as data) {
    <div class="list" appDragscroll>
      @for (movie of data.results; track movie.id) {
        <app-movie-card [movie]="movie"></app-movie-card>
      }
    </div>
  } @else {
    <div class="list skeleton" appDragscroll>
      @for (i of skeletonArray; let idx = $index; track idx) {
        <app-skeleton-card></app-skeleton-card>
      }
    </div>
  }

  <h1 class="title">Top Rated Movies</h1>
  @if (topRatedMovies$ | async; as data) {
    <div class="list" appDragscroll>
      @for (movie of data.results; track movie.id) {
        <app-movie-card [movie]="movie"></app-movie-card>
      }
    </div>
  } @else {
    <div class="list skeleton" appDragscroll>
      @for (i of skeletonArray; let idx = $index; track idx) {
        <app-skeleton-card></app-skeleton-card>
      }
    </div>
  }

  <div class="section-divider"></div>

  <h1 class="title">Popular Series</h1>
  @if (popularSeries$ | async; as data) {
    <div class="list" appDragscroll>
      @for (series of data.results; track series.id) {
        <app-series-card [series]="series"></app-series-card>
      }
    </div>
  } @else {
    <div class="list skeleton" appDragscroll>
      @for (i of skeletonArray; let idx = $index; track idx) {
        <app-skeleton-card></app-skeleton-card>
      }
    </div>
  }

  <h1 class="title">Top Rated Series</h1>
  @if (topRatedSeries$ | async; as data) {
    <div class="list" appDragscroll>
      @for (series of data.results; track series.id) {
        <app-series-card [series]="series"></app-series-card>
      }
    </div>
  } @else {
    <div class="list skeleton" appDragscroll>
      @for (i of skeletonArray; let idx = $index; track idx) {
        <app-skeleton-card></app-skeleton-card>
      }
    </div>
  }

  <p>fgjihodfgij</p>
  <p-button label="Submit" (onClick)="toggleTheme()" />
  <p-toggleswitch
    [ngModel]="themeService.isDarkMode()"
    (onChange)="toggleDarkMode()"
  />
  <p>{{ themeService.isDarkMode() ? "Dark" : "Light" }}</p>
  <p-toggleswitch [(ngModel)]="checked" />
  <p>{{ checked ? "checked" : "unchecked" }}</p>

  <p id="p-1">asd</p>
  <p id="p-2">asd</p>
  <p id="p-3">asd</p>
  <p id="p-4">asd</p>
  <p id="p-5">asd</p>
  <p id="p-6">asd</p>
  <p id="p-7">asd</p>
  <p id="p-8">asd</p>
</div>
