.home {
  margin-inline: 3rem;

  @media (max-width: 1024px) {
    margin-inline: 1.5rem;
  }

  .movie-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15rem;
    grid-template-rows: auto auto auto;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.1);
    padding: 1rem;
    column-gap: 1rem;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: thin;
    scrollbar-color: #888 rgba(0, 0, 0, 0);

    @media (max-width: 1024px) {
      grid-auto-columns: 12rem;
    }
  }
}
