.home {
  margin-inline: 3rem;

  .movie-list {
    display: grid;
    grid-auto-flow: column;

    grid-auto-columns: 12rem;

    grid-template-rows: auto auto auto;

    background: rgba(0, 0, 0, 0.1);

    padding: 1rem;
    column-gap: 1rem;

    overflow-x: auto;
    overflow-y: hidden;
  }
}
