<div class="reviews">
  <div class="reviews__active" [class.engaged]="isEngaged" (click)="engage()">
    @if (!isEngaged) {
      <div class="engage-overlay">
        <span>Click to interact </span><i class="pi pi-file-edit"></i>
      </div>
    }
    <div class="search">
      <input
        pInputText
        type="text"
        placeholder="Search"
        [formControl]="searchControl"
      />
    </div>
    @if (isLoading || isSearchLoading) {
      <app-skeleton-details></app-skeleton-details>
    } @else {
      <div class="current-reviews">
        @for (review of currentReviews(); track $index) {
          <div class="review">
            <div class="review__owner">
              <div
                class="title"
                [routerLink]="[
                  `/discover/${review.content_type}`,
                  review.content_id,
                ]"
              >
                <p>{{ review.content_title }}</p>
                <p class="content-badge">
                  {{ review.content_type | capitalize }}
                </p>
              </div>
              <p>{{ review.reviewed_at | date: "medium" }}</p>
            </div>
            <p class="review__score">
              <span
                >Rating: <p-rating [(ngModel)]="review.score" readonly="true"
              /></span>
            </p>

            @if (review.review !== null) {
              <div class="ql-snow">
                <div
                  class="ql-editor"
                  [innerHTML]="review.review | safeHtml"
                ></div>
              </div>
            }

            <div class="btn">
              <p-button
                [size]="buttonSize()"
                icon="pi pi-comment"
                (click)="showReviewDialog(review)"
              />
            </div>
          </div>
        } @empty {
          <div class="no-reviews">
            <p>There are no reviews on this account.</p>
          </div>
        }
      </div>

      <div class="bottom-section">
        @if (totalReviewNumber() > this.rows) {
          <div class="desktop">
            <p-paginator
              (onPageChange)="onPageChange($event)"
              [first]="first"
              [rows]="rows"
              [totalRecords]="totalReviewNumber()"
            />
          </div>

          <div class="mobile">
            <p-paginator
              (onPageChange)="onPageChange($event)"
              [first]="first"
              [rows]="rows"
              [totalRecords]="totalReviewNumber()"
              [pageLinkSize]="1"
              [showFirstLastIcon]="false"
            />
          </div>
        }
      </div>
    }
  </div>
</div>

<app-write-review
  [saveSuccess]="saveSuccessSignal()"
  [title]="currentTitle()"
  [visible]="writeReviewVisible()"
  [ownReview]="currentReview()"
  (visibleChange)="writeReviewVisible.set($event)"
  (saveReview)="upsertReview($event)"
  (deleteReview)="deleteReview()"
></app-write-review>
