@use "../../../styles/variables" as *;
@use "../../../styles/mixins/desktop-mobile-media-mixin" as *;
@use "../../../styles/mixins/mobile-width-mixin" as *;

.not-logged-in,
.wallet-not-connected,
.metamask-not-downloaded {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xxl $spacing-md;

  .card {
    background: var(--library-page-background);
    border-radius: $radius-lg;
    padding: $spacing-xxl $spacing-xl;
    text-align: center;
    max-width: 28rem;
    width: 100%;

    border: 1px solid var(--border-color);

    img {
      display: block;
      margin: 0 auto;
      width: 14rem;
      opacity: 0.85;
    }

    h2 {
      font-size: $font-size-xl;
      margin-block: $spacing-sm;
      color: var(--app-text-color-dark);
    }

    p {
      font-size: $font-size-sm;
      color: var(--app-text-color);
      margin-bottom: $spacing-xl;
    }
  }
}

.quests {
  margin-inline: $spacing-lg;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      backdrop-filter: blur(50px);
      border-radius: $radius-sm;
    }

    span {
      display: flex;
      align-content: center;
      align-items: center;
      gap: $spacing-xs;
      .token {
        height: 1.5rem;
        width: auto;
        background-color: rgba($color: #000000, $alpha: 0.1);
        border: rgba($color: #ffffff, $alpha: 0.5) 1px solid;
        backdrop-filter: blur(10px);
        border-radius: 100%;
      }
    }
  }

  .tasks {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-lg;
    gap: $spacing-md;
    padding: $spacing-md;
    border-radius: $radius-sm;
    background-color: var(
      --library-page-components-background
    ); // todo: ENNEK SAJAT VALTOZO
  }

  .themes {
    padding: $spacing-md;
    border-radius: $radius-sm;
    background-color: var(
      --library-page-components-background
    ); // todo: ENNEK SAJAT VALTOZO

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin-block: $spacing-xs;
      }

      span {
        display: flex;
        align-content: center;
        align-items: center;
        gap: $spacing-sm;
        font-weight: bold;
        font-size: $font-size-md;
        .token {
          height: 2rem;
          width: auto;
          background-color: rgba($color: #000000, $alpha: 0.1);
          border: rgba($color: #ffffff, $alpha: 0.5) 1px solid;
          backdrop-filter: blur(10px);
          border-radius: 100%;
        }
      }
    }
  }

  @include desktop-mobile-media-mixin {
    font-size: $font-size-sm;
  }

  @include mobile-width-mixin {
    margin-inline: 0;

    &__title {
      margin-inline: $spacing-sm;
    }

    .tasks {
      border-radius: 0;
      padding: $spacing-sm;
      gap: $spacing-sm;
      margin-bottom: $spacing-md;
    }

    .themes {
      border-radius: 0;
    }
  }
}
