@if (user) {
  <div class="quests">
    @if (walletConnected() && hasMetamask) {
      <div class="quests__title">
        <h1><span>Quests</span></h1>
        <p-button
          (click)="onDisconnectWallet()"
          label="Disconnect"
          icon="pi pi-wallet"
          [size]="buttonSize()"
        />
      </div>

      <div class="tasks">
        @for (quest of this.quests(); track $index) {
          <app-quest
            [quest]="quest"
            [buttonSize]="questButtonSize()"
            [questLoading]="questLoading()"
            [isClaimLoading]="claimLoadingSlot() === quest.slot_number"
            (rerollClicked)="rerollQuest($event)"
            (claimClicked)="claimQuestReward($event)"
          ></app-quest>
        }
      </div>

      <div class="themes">
        <div class="themes__title">
          <h2>Themes</h2>
          @if (tokenBalance()) {
            <span
              >Token balance: {{ tokenBalance() }}
              <img class="token" src="assets/logo-1.png" alt="logo"
            /></span>
          } @else {
            <span
              >Token balance:
              <p-progress-spinner
                strokeWidth="8"
                fill="transparent"
                animationDuration=".5s"
                [style]="{ width: '25px', height: '25px' }"
              />
            </span>
          }
        </div>

        <div class="themes__remaining">
          @for (theme of this.remainingThemes(); track $index) {
            <app-theme-card
              [theme]="theme"
              [buttonSize]="buttonSize()"
              (buyClicked)="themePurchase($event)"
              [isPreviewing]="previewingTheme() === theme"
              (previewToggled)="togglePreview(theme, $event)"
              [isPurchaseLoading]="purchaseThemeLoading() === theme"
            ></app-theme-card>
          }
        </div>
      </div>
    } @else {
      @if (!hasMetamask) {
        <div class="metamask-not-downloaded">
          <div class="card">
            <img src="/assets/metamask.png" alt="Wallet required" />

            <h2>MetaMask is not installed</h2>
            <p>
              You need the metamask extension in your browser to be able to
              progress in quests.
            </p>

            <p-button label="Download here" (onClick)="redirectToMetamask()" />
          </div>
        </div>
      } @else {
        <div class="wallet-not-connected">
          <div class="card">
            <img src="/assets/metamask.png" alt="Wallet required" />

            <h2>Wallet required</h2>
            <p>
              You need to connect your metamask wallet to be able to progress in
              quests.
            </p>
            <p-button
              (click)="onConnectWallet()"
              [loading]="isConnecting()"
              label="Connect"
              icon="pi pi-wallet"
              [size]="buttonSize()"
              [disabled]="!hasMetamask"
            />
          </div>
        </div>
      }
    }
  </div>
} @else {
  <div class="not-logged-in">
    <div class="card">
      <img src="/assets/library-login-required.png" alt="Login required" />

      <h2>Login required</h2>
      <p>You need to be logged in to see the quests page.</p>

      <p-button label="Click here to login" routerLink="/login"></p-button>
    </div>
  </div>
}
<p-confirmdialog />
