# --- Backend Wallet ---
BACKEND_WALLET_ADDRESS=0xyour_wallet_address_here
BACKEND_WALLET_PRIVATE_KEY=your_private_key_here

# --- Blockchain (Local Hardhat, localhost) ---
LOCALHOST_RPC_URL=http://127.0.0.1:8545
LOCALHOST_TOKEN_CONTRACT_ADDRESS=0xyour_hardhat_localhost_token_contract_address 
LOCALHOST_MARKETPLACE_CONTRACT_ADDRESS=0xyour_hardhat_localhost_marketplace_contract_address 

# --- Blockchain (Sepolia example) ---
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_PROJECT_ID / https://ethereum-sepolia-rpc.publicnode.com
SEPOLIA_TOKEN_CONTRACT_ADDRESS=0xyour_sepolia_token_contract_address 
SEPOLIA_MARKETPLACE_CONTRACT_ADDRESS=0xyour_sepolia_marketplace_contract_address 

