<p-drawer [(visible)]="visible" position="right">
  <div class="description">
    <div class="about">
      <p class="about__title">Copyright © 2025 MediaVerse</p>
      <a routerLink="/about" class="about__link">About</a>
      <p-button (onClick)="scrollToTop()">Back to top</p-button>
    </div>
    <div class="credit">
      <h1>Credits</h1>
      <img src="/assets/tmdb-logo.svg" alt="TMDB Logo" class="credit__logo" />
      <span
        >This product uses the TMDB API but is not endorsed or certified by
        TMDB.</span
      >
      <img src="/assets/tmdb-logo.svg" alt="TMDB Logo" class="credit__logo" />
      <span
        >This product uses the TMDB API but is not endorsed or certified by
        TMDB.</span
      >
      <img src="/assets/tmdb-logo.svg" alt="TMDB Logo" class="credit__logo" />
      <span
        >This product uses the TMDB API but is not endorsed or certified by
        TMDB.</span
      >
    </div>
  </div>
</p-drawer>
