<p-drawer [(visible)]="visible" position="right" [blockScroll]="true">
  <div class="description">
    <div class="about">
      <p class="about__title">Copyright © {{ getYear() }} MediaVerse</p>
      <a routerLink="/about" class="about__link" (click)="closeDrawer()"
        >About</a
      >
      <p-button (onClick)="scrollToTop(); closeDrawer()" size="small"
        >Back to top</p-button
      >
    </div>
    <div class="credit">
      <h1>Credits</h1>
      <img src="/assets/tmdb-logo.svg" alt="TMDB Logo" class="credit__logo" />
      <span
        >This product uses the TMDB API but is not endorsed or certified by
        TMDB.</span
      >
      <img src="/assets/tmdb-logo.svg" alt="TMDB Logo" class="credit__logo" />
      <span
        >This product uses the TMDB API but is not endorsed or certified by
        TMDB.</span
      >
      <img src="/assets/tmdb-logo.svg" alt="TMDB Logo" class="credit__logo" />
      <span
        >This product uses the TMDB API but is not endorsed or certified by
        TMDB.</span
      >
    </div>
  </div>
</p-drawer>
