@use "../../../styles/variables" as *;

.description {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  height: 100%;

  .about {
    display: inherit;
    padding: $spacing-md;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    background: var(--app-background-color-dark);
    border-radius: $radius-md;
    height: 35%;
    gap: $spacing-md;

    &__title {
      font-size: $font-size-lg;
      margin: 0;
      font-weight: bold;
    }

    &__link {
      color: var(--app-text-color);
      font-size: $font-size-xl;
      font-weight: bold;
    }

    &__link:hover {
      color: var(--app-text-color-dark);
    }

    &__link:active {
      color: var(--app-text-color);
    }
  }

  .credit {
    border-radius: $radius-md;
    display: inherit;
    flex-direction: column;
    padding: $spacing-md;
    height: 65%;
    align-items: flex-start;
    background: var(--app-background-color-dark);
    gap: $spacing-md;
    font-size: $font-size-sm;

    &__logo {
      margin-top: $spacing-xs;
      height: 1rem;
      width: auto;
    }
  }
}
