<p-dialog
  header="Add to Library"
  [modal]="true"
  [visible]="visible()"
  (visibleChange)="onDialogVisibilityChange($event)"
  [draggable]="false"
  dismissableMask="true"
  class="dialog"
>
  <div class="content">
    <p-selectbutton
      [options]="seriesModes"
      [(ngModel)]="selectedMode"
      (onChange)="onStatusChange($event.value)"
      optionLabel="label"
      optionValue="value"
      fluid="true"
      class="selectbutton"
      [disabled]="isLoading"
    >
      <ng-template let-item #item>
        <i [class]="item.icon"></i>
        <span>{{ item.label }}</span>
      </ng-template>
    </p-selectbutton>

    <p-listbox
      [options]="seriesModes"
      [(ngModel)]="selectedMode"
      (onChange)="onStatusChange($event.value)"
      optionLabel="label"
      optionValue="value"
      fluid="true"
      class="listbox"
      [disabled]="isLoading"
    >
      <ng-template let-item #item>
        <div class="listbox__item">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </div>
      </ng-template>
    </p-listbox>

    <p-floatlabel variant="in">
      <p-select
        [options]="seasonNumbers"
        [(ngModel)]="selectedSeason"
        fluid="true"
        appendTo="body"
        (onChange)="onSeasonChange($event.value)"
        [disabled]="isLoading"
      ></p-select>
      <label for="season_input">Season</label>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <p-inputnumber
        [(ngModel)]="episodeNumber"
        (ngModelChange)="onEpisodeChange($event)"
        mode="decimal"
        showButtons="true"
        buttonLayout="horizontal"
        step="1"
        [min]="0"
        [max]="maxEpisode()"
        [minFractionDigits]="0"
        [maxFractionDigits]="0"
        [useGrouping]="false"
        [allowEmpty]="false"
        fluid="true"
        [disabled]="isLoading"
      >
        <ng-template #incrementbuttonicon>
          <span class="pi pi-plus"></span>
        </ng-template>
        <ng-template #decrementbuttonicon>
          <span class="pi pi-minus"></span> </ng-template
      ></p-inputnumber>
      <label for="episode_input">Episode ({{ maxEpisode() }} available)</label>
    </p-floatlabel>

    @if (lastWatched != null) {
      <p>Saved at: {{ lastWatched | date }}</p>
    }

    <div class="content__buttons">
      @if (isLoading) {
        <p-progress-spinner
          strokeWidth="8"
          fill="transparent"
          animationDuration=".5s"
          [style]="{ width: '25px', height: '25px' }"
        />
      }
      <p-button
        label="Cancel"
        severity="secondary"
        (click)="close()"
        [disabled]="isLoading"
      />
      <p-button
        label="Save"
        severity="success"
        (click)="save()"
        [disabled]="isLoading"
      />
    </div>
  </div>
</p-dialog>
