@use "../../../styles/variables" as *;
@use "../../../styles/mixins/discover-page-list-media-mixin" as *;

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(12rem, 100%, 15rem));
  grid-template-rows: auto auto;
  gap: $spacing-md;
  padding: $spacing-md;

  justify-content: center;

  background: var(--discover-page-list-background);

  @include discover-page-list-media-mixin {
    display: flex;
    flex-direction: column;
  }
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 500px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
