@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins/mobile-width-mixin.scss" as *;
@use "../../../styles/mixins/desktop-mobile-media-mixin.scss" as *;

.dialog {
  ::ng-deep .p-dialog {
    width: 60vw !important;
  }
  .title {
    margin-top: $spacing-md;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .score {
    span {
      display: flex;
      gap: $spacing-sm;
      align-items: center;
    }
  }

  .optional {
    p {
      margin: 0;
    }
    font-size: $font-size-sm;
    opacity: 0.8;
  }

  ::ng-deep .ql-editor {
    scrollbar-width: thin;
    scrollbar-color: #888 rgba(0, 0, 0, 0);
  }

  & {
    --p-dialog-header-padding: 1rem 1rem 0rem 1rem;
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    gap: $spacing-md;
    margin-top: $spacing-md;
  }

  @include desktop-mobile-media-mixin {
    ::ng-deep .p-dialog {
      width: 95vw !important;
    }
  }

  @include mobile-width-mixin {
    .title {
      margin-top: 0;
    }

    &__btns {
      gap: $spacing-sm;
    }

    & {
      --p-dialog-header-padding: 0.5rem 0.5rem 0rem 0.5rem;
      --p-dialog-content-padding: 0.5rem;
    }
  }
}
