<div class="hero">
  <div class="hero__content">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="register">
      <h1>Create an account</h1>
      <p-floatlabel variant="on" class="register__username">
        <input
          pInputText
          id="on_label"
          fluid="true"
          formControlName="username"
        />
        <label for="on_label">Username</label>
      </p-floatlabel>
      @if (
        registerForm.get("username") && registerForm.get("username")?.dirty
      ) {
        @if (registerForm.get("username")?.errors?.["required"]) {
          <small>Username is required</small>
        }
        @if (registerForm.get("username")?.errors?.["minlength"]) {
          <small>Minimum 3 characters</small>
        }
        @if (registerForm.get("username")?.errors?.["maxlength"]) {
          <small>Maximum 30 characters</small>
        }
      }
      <p-floatlabel variant="on" class="register__password">
        <p-password
          id="on_label"
          [toggleMask]="true"
          [feedback]="true"
          [weakLabel]="passwordErrors.join(', ')"
          [mediumLabel]="passwordErrors.join(', ')"
          [strongLabel]="passwordErrors.join(', ')"
          fluid="true"
          formControlName="password"
        />
        <label for="on_label">Password</label>
      </p-floatlabel>

      <p-floatlabel variant="on" class="register__password-confirmation">
        <p-password
          id="on_label"
          [toggleMask]="true"
          [feedback]="false"
          fluid="true"
          formControlName="passwordConfirmation"
        />
        <label for="on_label">Password Confirmation</label>
      </p-floatlabel>
      @if (registerForm.errors?.["passwordsMismatch"] && registerForm.touched) {
        <small>Passwords do not match</small>
      }
      <p class="register__redirect">
        <span>Already have an account? </span>
        <a routerLink="/login">Login here</a>
      </p>
      <p-button
        type="submit"
        label="Register"
        class="register__button"
        [disabled]="disabled"
      ></p-button>
    </form>

    <div class="text">
      <h2>Track what you watch</h2>
      <p>Discover what's popular right now.</p>
    </div>
    @if (loading) {
      <p-progressbar mode="indeterminate" class="loading" />
    }
  </div>
</div>

<app-demo-marquee></app-demo-marquee>
