@function layer($percent, $color, $base: var(--app-page-background)) {
  @return color-mix(
    in srgb,
    #{$base} #{100% - $percent},
    #{$color} #{$percent}
  );
}

$spacing-xs: 0.3rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

$font-size-xs: 1ch;
$font-size-sm: 1.5ch;
$font-size-md: 2ch;
$font-size-lg: 2.5ch;
$font-size-xl: 3ch;
$font-size-xxl: 4ch;

$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;
$radius-xl: 2rem;

$breakpoint-lg: 1024px;
$breakpoint-discover-page-list: 783px;
$breakpoint-discover-page: 500px;
$breakpoint-content-details-galleria: 1440px;
$breakpoint-login-content: 400px;
$breakpoint-profile-settings: 400px;
$breakpoint-add-movie-to-library: 500px;
$breakpoint-add-series-to-library: 500px;

:root {
  //system tokens
  --app-page-background: var(--p-surface-50);

  --app-background-color: var(--p-surface-300);
  --app-background-color-lighter: var(--p-surface-100);
  --app-background-color-light: var(--p-surface-200);
  --app-background-color-dark: var(--p-surface-400);

  --app-primary-color: var(--p-primary-600);
  --app-primary-color-lighter: var(--p-primary-400);
  --app-primary-color-light: var(--p-primary-500);
  --app-primary-color-dark: var(--p-primary-700);

  --app-text-color: var(--p-surface-700);
  --app-text-color-dark: var(--p-surface-800);
  --app-text-color-darker: var(--p-surface-900);

  --border-color: var(--app-background-color-lighter);

  //component tokens
  --error-color: #dc2626;
  --discover-page-list-background: #{layer(5%, black)};
  --discover-page-genres-background: #{layer(5%, black)};
  --details-page-items-background: #{layer(5%, black)};
  --galleria-background-color: #{layer(10%, black)};
  --details-page-items-active: #{layer(15%, black)};
  --details-page-default-backdrop-0: rgba(255, 255, 255, 0.6);
  --details-page-default-backdrop-100: white;
  --details-page-episode-text-color: #{layer(
      50%,
      black,
      var(--app-background-color)
    )};
  --dropdown-background: var(--app-background-color-dark);
  --dropdown-border: var(--app-background-color-dark);
  --tabs-hover-color: var(--app-background-color-dark);
  --login-register-form-background: var(--app-background-color-light);
  --profile-page-background: var(--app-background-color);
  --profile-username-change: var(--app-background-color-lighter);
  --dialog-header-padding: 1rem;
  --library-page-background: #{layer(5%, black)};
  --library-page-components-background: var(--app-background-color-light);
  --library-page-list-items-background: var(--app-background-color);
}

.p-dark {
  //system tokens
  --app-page-background: var(--p-surface-950);

  --app-background-color: var(--p-surface-800);
  --app-background-color-lighter: var(--p-surface-600);
  --app-background-color-light: var(--p-surface-700);
  --app-background-color-dark: var(--p-surface-900);

  --app-primary-color: var(--p-primary-400);
  --app-primary-color-lighter: var(--p-primary-300);
  --app-primary-color-light: var(--p-primary-500);
  --app-primary-color-dark: var(--p-primary-600);

  --app-text-color: var(--p-surface-0);
  --app-text-color-dark: var(--p-surface-200);
  --app-text-color-darker: var(--p-surface-400);

  --border-color: var(--app-background-color-lighter);

  //component tokens
  --error-color: #f87171;
  --discover-page-list-background: #{layer(5%, white)};
  --discover-page-genres-background: #{layer(10%, black)};
  --details-page-items-background: #{layer(5%, white)};
  --galleria-background-color: #{layer(10%, white)};
  --details-page-items-active: #{layer(15%, white)};
  --details-page-default-backdrop-0: var(--app-background-color-light);
  --details-page-default-backdrop-100: var(--app-background-color);
  --details-page-episode-text-color: #{layer(
      50%,
      white,
      var(--app-background-color)
    )};
  --dropdown-background: var(--app-background-color-lighter);
  --dropdown-border: var(--app-background-color-lighter);
  --tabs-hover-color: var(--app-background-color-lighter);
  --login-register-form-background: var(--app-background-color-dark);
  --profile-page-background: #{layer(5%, white)};
  --profile-username-change: var(--app-background-color);
  --library-page-background: #{layer(5%, white)};
  --library-page-components-background: var(--app-background-color-dark);
  --library-page-list-items-background: #{layer(
      5%,
      white,
      var(--app-background-color-dark)
    )};
}

.p-drawer {
  --p-drawer-background: var(--app-background-color);
}

.p-knob.p-disabled {
  opacity: 1;
}

.p-progressbar {
  --p-progressbar-height: 0.5rem;
}

.p-paginator {
  --p-paginator-border-radius: 0;
}
