$spacing-xs: 0.3rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 3rem;

$font-size-xs: 1ch;
$font-size-sm: 1.5ch;
$font-size-md: 2ch;
$font-size-lg: 2.5ch;
$font-size-xl: 3ch;
$font-size-xxl: 4ch;

$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;
$radius-xl: 2rem;

$breakpoint-lg: 1024px;
$breakpoint-discover-page-list: 783px;
$breakpoint-content-details-galleria: 1440px;
$breakpoint-login-content: 400px;
$breakpoint-profile-settings: 400px;

:root {
  //system tokens
  --app-page-background: var(--p-surface-50);

  --app-background-color: var(--p-surface-300);
  --app-background-color-lighter: var(--p-surface-100);
  --app-background-color-light: var(--p-surface-200);
  --app-background-color-dark: var(--p-surface-400);

  --app-primary-color: var(--p-primary-600);
  --app-primary-color-lighter: var(--p-primary-400);
  --app-primary-color-light: var(--p-primary-500);
  --app-primary-color-dark: var(--p-primary-700);

  --app-text-color: var(--p-surface-700);
  --app-text-color-dark: var(--p-surface-800);
  --app-text-color-darker: var(--p-surface-900);

  --border-color: var(--app-background-color-lighter);

  //component tokens
  --error-color: #dc2626;
  --home-page-list-background: rgba(0, 0, 0, 0.05);
  --discover-page-list-background: rgba(0, 0, 0, 0.05);
  --discover-page-genres-background: rgba(0, 0, 0, 0.05);
  --details-page-items-background: rgba(0, 0, 0, 0.05);
  --details-page-items-active: rgba(0, 0, 0, 0.1);
  --details-page-default-backdrop-0: rgba(255, 255, 255, 0.6);
  --details-page-default-backdrop-100: rgba(0, 0, 0, 0.6);
  --details-page-episode-text-color: rgba(0, 0, 0, 0.5);
  --dropdown-background: var(--app-background-color-dark);
  --dropdown-border: var(--app-background-color-dark);
  --tabs-hover-color: var(--app-background-color-dark);
  --login-register-form-background: var(--app-background-color-light);
  --profile-page-background: var(--app-background-color);
  --profile-username-change: var(--app-background-color-lighter);
}

.p-dark {
  //system tokens
  --app-page-background: var(--p-surface-950);

  --app-background-color: var(--p-surface-800);
  --app-background-color-lighter: var(--p-surface-600);
  --app-background-color-light: var(--p-surface-700);
  --app-background-color-dark: var(--p-surface-900);

  --app-primary-color: var(--p-primary-400);
  --app-primary-color-lighter: var(--p-primary-300);
  --app-primary-color-light: var(--p-primary-500);
  --app-primary-color-dark: var(--p-primary-600);

  --app-text-color: var(--p-surface-0);
  --app-text-color-dark: var(--p-surface-200);
  --app-text-color-darker: var(--p-surface-400);

  --border-color: var(--app-background-color-lighter);

  //component tokens
  --error-color: #f87171;
  --home-page-list-background: rgba(255, 255, 255, 0.05);
  --discover-page-list-background: rgba(255, 255, 255, 0.05);
  --discover-page-genres-background: rgba(0, 0, 0, 0.1);
  --details-page-items-background: rgba(255, 255, 255, 0.05);
  --details-page-items-active: rgba(255, 255, 255, 0.1);
  --details-page-default-backdrop-0: rgba(255, 255, 255, 0.2);
  --details-page-default-backdrop-100: rgba(0, 0, 0, 0.05);
  --details-page-episode-text-color: rgba(255, 255, 255, 0.5);
  --dropdown-background: var(--app-background-color-lighter);
  --dropdown-border: var(--app-background-color-lighter);
  --tabs-hover-color: var(--app-background-color-lighter);
  --login-register-form-background: var(--app-background-color-dark);
  --profile-page-background: rgba(255, 255, 255, 0.05);
  --profile-username-change: var(--app-background-color);
}

.p-drawer {
  --p-drawer-background: var(--app-background-color);
}

.p-knob.p-disabled {
  opacity: 1;
}
